@use '../base/variables' as v;
@use '../base/mixins' as m;

.contenido-contacto{
  @include m.tablet { 
    @include m.grid(2, 50%);
    background-image: url(../../img/img/granos_cafe.jpg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 40%;
  }
  .formulario{
    .campo{
      margin-bottom: 2rem;

      &:last-of-type{   //el ultimo campo tendra un margin botom de cero 0
        margin-bottom: 0;
      }
      label{
        text-transform: uppercase;
        display: block;  //tomara todo el ancho y el siguiente label o input brincara a la siguiente linea
        font-size: 2rem;
        font-weight: 700;
      }

      input:not([type="submit"]),     //selecciona todos los input menos el submit
      select{
        width: 100%;
        padding: 1rem;
        border: .5rem solid v.$primario;
      }

      input[type="submit"]{
        background-color: v.$primario;
        width: 100%;
        border: none;
        padding: 1rem;
        color: v.$blanco;
        font-size: 2.2rem;
        font-weight: 700;
        text-transform: uppercase;

        &:hover{
          cursor: pointer;
        }
      }
    }
  }
}